body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('../public/assets/bg-space.jpg') no-repeat center center fixed;
  background-size: cover;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.play-button {
  font-size: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

.game {
  width: 100vw;
  height: 100vh;
}
